.btn-container {
    outline: 0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1;
    padding: 0 15px;
    height: 32px;
}

.default {
    border: 1px solid #d9d9d9;
    background: #fff;
    color: rgba(0,0,0,0.65);
    box-shadow: 0 2px 0 rgba(0,0,0,0.015)
}

.primary {
    border: 1px solid #1890ff;
    background: #1890ff;
    color: #fff;
}

.primary:hover, .primary:focus  {
    background: #40a9ff;
    border-color: #40a9ff;
    color: #fff;
}

.default:hover, .default:focus  {
    background: #fff;
    border-color: #40a9ff;
    color: #40a9ff;
}

.primary:active {
    background-color: #1676ce;
    border-color: #1676ce;
    transition-property: background-color,border-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    text-shadow: none;
    box-shadow: none;
}

.default:active {
    color: #1676ce;
    border-color: #1676ce;
    transition-property: color,border-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    text-shadow: none;
    box-shadow: none;
}

