.message {
  position: fixed;
  top: 15px;
  left: 0;
  z-index: 1010;
  width: 100%;
  pointer-events: none;
}

.meesage-container {
  text-align: center;
  padding: 10px 0;
}

.message-content {
  box-shadow: 0 0 17px 0px rgba(0, 0, 0, 0.15);
  padding: 10px;
  display: inline-block;
  background: #fff
}